<h2>Crear reserva</h2>

<form (ngSubmit)="crearReserva()">

  <label>Entrenador ID:</label>
  <input type="number" [(ngModel)]="reserva.idEntrenador" name="idEntrenador" required>
  <br>

  <label>Fecha:</label>
  <input type="date" [(ngModel)]="reserva.fechaReserva" name="fechaReserva" required>
  <br>

  <label>Hora:</label>
  <input type="time" [(ngModel)]="reserva.horaInicio" name="horaInicio" required>
  <br>

  <button type="submit">Crear reserva</button>
</form>

<h2>Mis reservas</h2>

<div *ngFor="let reserva of reservas">
  <strong>{{ reserva.fechaReserva }}</strong> -
  {{ reserva.horaInicio }} a {{ reserva.horaFin }}
  ({{ reserva.estado }})
  <p>
    ID Reserva: {{ reserva.id }} <br>
    Nombre Cliente: {{ reserva.nombreCliente }} <br>
    Nombre Entrenador: {{ reserva.nombreEntrenador }}
  </p>
  <button (click)="cancelarReserva(reserva.id)") [disabled]="reserva.estado === 'CANCELADO'">Cancelar</button>
</div>

